.m-wrapper{
    padding-top: 3.5%;
    width: 90%;
    padding-left: 5%;
}

.form-inline {
    margin-right:4px;
}

.btn {
    margin-right:8px;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
